
    <!-- /:slug -->

<div class="mt-4">
    <div id="contact" class="promotion-header background-animation row">
        <div class="col-12">
            <span class="caveat-brush-regular">Thông Tin Chi Tiết Sản Phẩm</span> 
        </div>
    </div>

    <div class="mt-4">

        <div class="preprod-product-box">
            <div class="preprod-product-row">
                <div class="preprod-col-left">
                    <img src="/img/{{product.image}}" alt="{{product.name}}">
                </div>
                <div class="preprod-col-right">
                    <h3>{{product.name}}</h3>
                    <div class="preprod-price-origin-row">
                        <div class="preprod-price-col">
                            <h5>Giá: {{product.price}}</h5>
                        </div>
                        <div class="preprod-origin-col">
                            <h5>Xuất xứ: {{product.origin}}</h5>
                        </div>
                    </div>
                    <div class="preprod-description">
                        <h5>Giới thiệu: {{product.description}}</h5>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

